<div id="header">
  <div id="menu-left">
    <h2>search</h2>
    <form action="http://www.google.com/cse" id="cse-search-box">
      <div id="search">
        <input type="hidden" name="cx" value="004211119241033965410:bbu9uuwp4m8" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input type="text" id="q" name="q" size="35" />
      </div>
    </form>
    <h2>categories</h2>
    <p>
      <a href="http://alexbcoles.com/code/">Code</a> |
      <a href="http://alexbcoles.com/me/">Me</a>
    </p>
    <!--    <h2>tags</h2> -->
  </div>
  <div id="home">
    <h1><a href="http://alexbcoles.com/"><img src="/images/home.png"></a></h1>
  </div>
  <div id="menu-right">
    <h2>about</h2>
    <p><strong>Alex B Coles</strong> is a freelance web developer.</p>
    <h2>links</h2>
    <p>
      <a href="http://twitter.com/myabc">Twitter</a> |
      <a href="">RSS</a> |
      <a href="">e-mail</a> |
      <a href="http://github.com/myabc">GitHub</a> |
      <a href="http://delicious.com/alexbcoles">Delicious</a> |
      <a href="http://www.linkedin.com/in/alexandercoles">LinkedIn</a> |
      <a href="http://www.workingwithrails.com/person/12021-alex-coles">Working with Rails</a> |
      <a href="http://www.ohloh.net/accounts/myabc">Ohloh</a> |
      <a href="http://stackoverflow.com/users/3789/myabc">Stack Overflow</a>
    </p>
  </div>
  <div id="clear-float">
  </div>
</div>
