<div id="content">
  <div id="wrap-post">
    &nbsp;
  </div>
  <div id="meta-post">
    <div id="meta-title">
      <h1><a href="{{ post.id }}.html">{{ post.title }}</a></h1>
    </div>
    <div id="meta-date">
      <p>{{ post.date | date: "%d %b, %Y" }}</p>
    </div>
    <div id="clear-float">
    </div>
  </div>
  <div id="post-content">
    <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
  </div>
  <div id="wrap-post">
    &nbsp;
  </div>
  <div id="separator-post">
    &nbsp;
  </div>
</div>
