<section class="content">
  <div class="wrap-post">
    &nbsp;
  </div>
  <div class="meta-post">
    <div class="meta-title">
      <h1><a href="{{ post.id }}.html">{{ post.title }}</a></h1>
    </div>
    <div class="meta-date">
      <p><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b, %Y" }}</time></p>
    </div>
    <div class="clear-float">
    </div>
  </div>
  <div class="post-content">
    <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
  </div>
  <div class="wrap-post">
    &nbsp;
  </div>
  <div class="separator-post">
    &nbsp;
  </div>
</section>
