// Non-Pygments Code Styling

code
  background-color: $lightgray
  //border-left: 1px solid $crimson

pre,
div.highlight pre
  background-color: $lightgray
  border-left: 3px solid $crimson
  padding: 5px
  overflow: scroll

  > code
    border: none
