@font-face
  :font-family 'Titillium1' 
  :src url(TitilliumMaps26L004.otf) format('opentype')

@font-face
  :font-family 'Titillium2' 
  :src url(TitilliumMaps26L003.otf) format('opentype')

@font-face
  :font-family 'Titillium3' 
  :src url(TitilliumMaps26L002.otf) format('opentype')

@font-face
  :font-family 'Titillium4'
  :src url(TitilliumMaps26L001.otf) format('opentype')

@font-face
  :font-family 'Titillium5' 
  :src url(TitilliumMaps26L.otf) format('opentype')

@font-face
  :font-family 'Anonymous Pro'
  :src url(Anonymous Pro.ttf) format('ttf')


h1, h2
  :font-family "Titillium3", Georgia, "Times New Roman", Times, serif !important
  
  a
    :color #a69c91 !important
    :text-decoration none !important

    &:hover
      :text-decoration underline !important

h3
  :font-family "Titillium2", Georgia, "Times New Roman", Times, serif
  :font-weight normal
  :letter-spacing -1px
  :margin 0

  &#comments
    :font-size 1.6em

pre, code
  :font-family 'Anonymous Pro' !important
