// Site typography weights and measurements

body
  font-family:  $base-font-family
  font-size:    $font-size   / $em
  line-height:  $line-height / $em

h1
  font-family:  "ff-meta-web-pro-condensed-1","ff-meta-web-pro-condensed-2"
  font-size:    2em
  line-height:  ($line-height / $em) * 2

h2
  font-family:  "ff-meta-web-pro-condensed-1","ff-meta-web-pro-condensed-2"
  font-size:    1.2em
  line-height:  ($line-height / $em) * 2

h3, h4, h5, h6
  font-family:  "ff-meta-web-pro-condensed-1","ff-meta-web-pro-condensed-2"
  font-size:    1em

time
  font-family:  "ff-meta-web-pro-condensed-1","ff-meta-web-pro-condensed-2"
  font-size:    0.825em

footer#colophon p
  font-size:    0.825em

.square-menu
  h2
    font-family:  "ff-meta-web-pro-condensed-1","ff-meta-web-pro-condensed-2"
    font-size:    1em
  p
    font-family:  "ff-meta-web-pro-condensed-1","ff-meta-web-pro-condensed-2"
    font-size:    0.825em
    color:        white
    a, a:hover, a:visited
      font-family:  "ff-meta-web-pro-condensed-1","ff-meta-web-pro-condensed-2"
      font-size:    1em
      color:        white
      text-decoration: none

header
  p
    font-family:  "ff-meta-web-pro-condensed-1","ff-meta-web-pro-condensed-2"
    font-size:    1em
    text-align: right
  h1
    line-height:  ($line-height / $em) * 1
    padding-top: 1em

footer
  padding-top: 2em

.paginator
  text-align: right
  h3
    a
      text-decoration: none
