// Site typography weights and measurements

body
  font-family:  $base-font-family
  font-size:    $font-size   / $em
  line-height:  $line-height / $em

h1
  font-size:    2em
  line-height:  ($line-height / $em) * 2

h2
  font-size:    1.2em
  line-height:  ($line-height / $em) * 2

h3, h4, h5, h6
  font-size:    1em

footer#colophon p
  font-size:    0.825em
