---
layout: default
---

<script type="text/javascript">
//<![CDATA[
if (location.href.match(/localhost/)) {
  var disqus_developer = true;
}
//]]>
</script>



<div id="content">
  <div id="wrap-post">
    &nbsp;
  </div>
  <div id="meta-post">
    <div id="meta-title">
      <h1>{{ page.title }}</h1>
    </div>
    <div id="meta-date">
      <p>{{ page.date | date: "%d %b, %Y" }}</p>
    </div>
    <div id="clear-float">
    </div>
  </div>
  <div id="post-content">
    {{ content }}
  </div>
  <div id="wrap-post">
    &nbsp;
  </div>
  <div id="separator-post">
    &nbsp;
  </div>
  <div id="wrap-post">
    &nbsp;
  </div>
  <div id="post-content">
    <div id="disqus_thread"></div>
    <script type="text/javascript" src="http://disqus.com/forums/myabc/embed.js"></script>
    <noscript><a href="http://myabc.disqus.com/?url=ref">View the discussion thread.</a></noscript>
    <!--    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a> -->
  </div>
  <div id="wrap-post">
    &nbsp;
  </div>
  <div id="separator-post">
    &nbsp;
  </div>
</div>

<script type="text/javascript">
//<![CDATA[
(function() {
 var links = document.getElementsByTagName('a');
 var query = '?';
 for(var i = 0; i < links.length; i++) {
 if(links[i].href.indexOf('#disqus_thread') >= 0) {
  query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
 }
 }
 document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/myabc/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>
