---
layout: default
---

<script type="text/javascript">
//<![CDATA[
if (location.href.match(/localhost/)) {
  var disqus_developer = true;
}
//]]>
</script>



<section class="content">
  <article>
    <div class="wrap-post">
      &nbsp;
    </div>
    <header class="meta-post-wide">
      <div class="meta-title">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="meta-date">
        <p><time datetime="{{ post.date | date_to_xmlschema }}">{{ page.date | date: "%d %b, %Y" }}</time></p>
      </div>
      <div class="clear-float">
      </div>
    </header>
    <div class="post-content-wide">
      {{ content }}
    </div>
    <div class="wrap-post">
      &nbsp;
    </div>
    <div class="separator-post">
      &nbsp;
    </div>
    <div class="wrap-post">
      &nbsp;
    </div>
    <div class="post-content">
      <div id="disqus_thread"></div>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    <div class="wrap-post">
      &nbsp;
    </div>
    <div class="separator-post">
      &nbsp;
    </div>
  </article>
</section>

<script type="text/javascript">
  var disqus_shortname = 'myabc';

  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
